body {
  background-color: #71a2b6;
}

.nav-wrapper {
  background-color: #982649;
}

.brand-logo {
  margin-left: 3%;
  font-family: "Graduate", cursive;
}

.Welcome {
  background-color: #60b2e5;
  padding: 1px;
}
.welcometext h5 {
  font-family: "Graduate", cursive;
}

.welcometext {
  padding-left: 45px;
  font-weight: bold;
}

main {
  margin: 0%;
  padding: 3%;
  background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

  background-size: cover;
}

#appguide {
  margin: 75px;
  background-size: cover;
  border-radius: 20px;
  height: auto;
  background-color: #982649;
  color: #7c8483;
  font-family: "Graduate", cursive;
}

#Aboutus {
  margin: 75px;
  border-radius: 20px;
  height: auto;
  background-color: #982649;
  color: #7c8483;
  font-family: "Graduate", cursive;
}

.guideabouttext {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

#submit-btn {
  background-color: #60b2e5;
  border-radius: 0.5em;
}

.event-results {
  background-color: #7c8483;

  border-radius: 1em;
  font-family: "Graduate", cursive;
  /* min-height: 200px; */

  /* float: right; */
}
.event-results button {
  font-family: "Graduate", cursive;
}

article {
  /* margin-top: 0; */
  background-color: #60b2e5;
  border-radius: 1em;
}

#textarea1 {
  background-color: #982649;
  border-radius: 0.5em;
  margin-left: -13px;
}

#datepicker {
  background-color: #982649;
  border-radius: 0.5em;
  color: #7c8483;
}

.twoboxheaders {
  padding: 10px;
  border-bottom: 4px solid #7c8483;
}

li a {
  border-left: 4px solid #7c8483;
  border-radius: 0.5em;
}

.weather-results .card {
  border-radius: 1em;
}

.weather-results .card-title {
  border-bottom: solid 4px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 230%;
  font-family: "Graduate", cursive;
}

.weather-data {
  padding-bottom: 7px;
  font-size: 120%;
}

.event-name {
  border-top: 3px solid #7c8483;
}

#favorites {
  background-color: #7c8483;
  border-radius: 1em;
  font-family: "Graduate", cursive;
}

#favorites button {
  font-family: "Graduate", cursive;
}

@media only screen and (max-width: 600px) {
  #banner {
    display: none;
  }
  nav {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    align-items: flex-start;
  }
  input {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  article {
    padding: 3%;
  }
}
